<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.learn.demo.DAO.UserDAO">

    <resultMap id="userMap" type="com.learn.demo.entity.User">
        <id column="id" property="id"/>
        <result column="name" property="name"></result>
        <result column="age" property="age"></result>
        <result column="email" property="email"></result>
    </resultMap>

    <select id="findByID" resultType="com.learn.demo.entity.User">
      SELECT * FROM user WHERE id = #{id} for update
    </select>

    <select id="selectAll" resultMap="userMap">
        SELECT * FROM user
    </select>

<!--    <cache size="5"/>-->

</mapper>